<article>
    <form #categoryFormModel ="ngForm" [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
        <h3 mat-subheader>Criar Categoria</h3>
        <mat-form-field class="form-field">
            <input matInput placeholder="Nome da Categoria" formControlName="nome">

            <mat-error *ngIf="categoryForm.get('nome').hasError('required')">
                Este campo é obrigatório
            </mat-error>
    
            <mat-error *ngIf="categoryForm.get('nome').hasError('minlength')">
                Este campo deve ter mais que 3 caracteres
            </mat-error>
        </mat-form-field>


        <button type="submit" mat-button color="primary">Salvar</button>
    </form>
</article>